.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  grid-template-rows: 1fr 4fr 1fr;
  height: calc(100vh - 10px);

  grid-template-areas:
    "rooms-list room-header room-header"
    "rooms-list room-messages room-messages"
    "rooms-list message-input message-input";

  justify-items: start;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.RoomsList {
  grid-column: 1;
  grid-row: 1;
  grid-area: rooms-list;

  text-align: left;
}

.RoomHeader {
  grid-column: 2 / 2;
  grid-row: 1;
  grid-area: room-header;
  align-self: start;
  justify-self: start;
}

.RoomMessages {
  grid-column: 2 / 2;
  grid-row: 2;
  grid-area: room-messages;
  align-self: end;
  justify-self: start;

  text-align: left;
}

.MessageInputArea {
  grid-column: 2 / 2;
  grid-row: 3;
  grid-area: message-input;
  align-self: center;
  justify-self: start;
}

.MessageInputArea > input {
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
}

.MessageInputArea > button {
  height: 56px;
  vertical-align: top;
  width: 56px;
  font-size: 1.1rem;
}

.SignMessage {
  grid-column: 2 / 2;
  grid-row: 2;
  grid-area: sign;
  align-self: start;
  justify-self: stretch;
}

.rooms > li {
  cursor: pointer;
}

.rooms > li:hover {
  text-decoration: underline;
}

.selected-room {
  font-weight: bold;
}
