.Chat {
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr 4fr 1fr;

  height: calc(100vh - 60px);

  grid-template-areas:
    "rooms-list"
    "room-header"
    "room-messages"
    "message-input";

  justify-items: start;
}

@media (min-width: 500px) {
  .Chat {
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 312px 3fr;
    grid-template-areas:
      "rooms-list room-header room-header"
      "rooms-list room-messages room-messages"
      "rooms-list message-input message-input";
  }
}

.RoomsList {
  grid-column: 1;
  grid-row: 1;
  grid-area: rooms-list;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.RoomHeader {
  grid-column: 2 / 2;
  grid-row: 1;
  grid-area: room-header;
  align-self: start;
  justify-self: start;
}

.RoomMessages {
  grid-column: 2 / 2;
  grid-row: 2;
  grid-area: room-messages;
  align-self: end;
  justify-self: start;

  text-align: left;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.MessageInputArea {
  grid-column: 2 / 2;
  grid-row: 3;
  grid-area: message-input;
  align-self: center;
  justify-self: start;
  padding-right: 10px;
}

/* .MessageInputArea > input {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
} */

/* .MessageInputArea > button {
  height: 56px;
  vertical-align: top;
  font-size: 1.1rem;
} */

.SignMessage {
  grid-column: 2 / 2;
  grid-row: 2;
  grid-area: sign;
  align-self: start;
  justify-self: stretch;
}

.rooms > li {
  cursor: pointer;
}

.rooms > li:hover {
  text-decoration: underline;
}

.selected-room {
  font-weight: bold;
}
